@font-face {
    font-family: 'font-dana-bold';
    src: url(../fonts/dana/dana\ bold.ttf) format("openType");
}
@font-face {
    font-family: 'font-dana-extrabold';
    src: url(../fonts/dana/dana\ extrabold.ttf) format("openType");
}
@font-face {
    font-family: 'font-dana-demi';
    src: url(../fonts/dana/dana\ demibold.ttf) format("openType");
}
@font-face {
    font-family: 'font-dana-medium';
    src: url(../fonts/dana/dana\ medium.ttf) format("openType");
}
@font-face {
    font-family: 'font-dana-regular';
    src: url(../fonts/dana/dana\ regular.ttf) format("openType");
}
@font-face {
    font-family: 'font-dana-thin';
    src: url(../fonts/dana/dana\ thin.ttf) format("openType");
}
@font-face {
    font-family: 'font-dana-light';
    src: url(../fonts/dana/dana\ light.ttf) format("openType");
}