.back-color{
    background-color: #f3f4f6;
    // background-color: #2e4167;
}
.card-img{
    border-radius: 10px;
}
.card{
    background-color:#fff;
    border: none;
    border-radius: 5px;
    margin: 1rem;
}