.back-color{
    background-color: #f3f4f6;
}
.card-img{
    border-radius: 10px;
}
.card{
    background-color:#fff;
    border: none;
    border-radius: 10px;
    margin: 1rem;
    .p{
        font-family: Dana,sans-serif;
    }
}