.pre-nav{
    background-color:rgb(30 179 91);
}
.back-img{
    background-image: url(../images/hero-section.webp);
    background-repeat: no-repeat;
    height: auto;
}
.card-img{
    border-radius: 10px;
}
.card{
    background-color:#fff;
    border: none;
    border-radius: 5px;
}
.back-color{
    background-color: #f3f4f6;
    // background-color: #2e4167;
}
.text-box-1{
    border-bottom: solid 3px #7bdcb5;
}