.pre-nav{
    background-color:rgb(30 179 91);
}
.back-img{
    background-image: url(../images/hero-section.webp);
    background-repeat: no-repeat;
    height: auto;
}
.card-img{
    border-radius: 10px;
}