
@font-face {
    font-family: 'font-dana-bold';
    src: url(../fonts/dana/dana\ bold.ttf) format("openType");
}
@font-face {
    font-family: 'font-dana-extrabold';
    src: url(../fonts/dana/dana\ extrabold.ttf) format("openType");
}
@font-face {
    font-family: 'font-dana-demi';
    src: url(../fonts/dana/dana\ demibold.ttf) format("openType");
}
@font-face {
    font-family: 'font-dana-medium';
    src: url(../fonts/dana/dana\ medium.ttf) format("openType");
}
@font-face {
    font-family: 'font-dana-regular';
    src: url(../fonts/dana/dana\ regular.ttf) format("openType");
}
@font-face {
    font-family: 'font-dana-thin';
    src: url(../fonts/dana/dana\ thin.ttf) format("openType");
}
@font-face {
    font-family: 'font-dana-light';
    src: url(../fonts/dana/dana\ light.ttf) format("openType");
}

.back-color{
    background-color: #f3f4f6;
}
.space-rule{
    margin-top: 7rem;
}
.card{
    background-color:#fff;
    border: none;
    border-radius: 10px;
    margin: .8rem;
    .card-img{
        border-radius: 10px;
    }
    .card-body{
        .card-title{
            font-family: 'font-dana-demi';
            font-size: 1rem;
        }
        .card-text{
            font-family:'font-dana-medium';
            font-size: .9rem;
            margin-bottom: 4rem;
            color: #647488;
        }
    }
    .card-footer{
        border: none;
        padding: 0;
        background-color: #fff;
        font-family: 'font-dana-medium';
        font-size:1rem;
        color: #647488;
        a{
          color: #647488;
          &:hover{
            color:#1eb35b ;
          }
        }
        span{
            color: #f59e0b;
            font-size: 1rem;
        }
        .card-price{
            color: #1eb35b;
        }

    }
}
.product-style{
    background-color:#fff;
    border: none;
    border-radius: 10px;
    margin: .8rem;
    min-height: 58vh;
    @media screen and (max-width: 799px) and (max-width:450px){
        min-height: 53vh;
    }
    @media screen and (max-width: 1000px) and (min-width: 800px){
        min-height: 40vh;
    }
    .product-style-img{
        border-radius: 10px;
    }
    .product-style-body{
        .product-style-title{
            font-family: 'font-dana-demi';
            font-size: .9rem;
        }
        .product-style-text{
            font-family:'font-dana-medium';
            font-size: .9rem;
            margin-bottom: 2rem;
            color: #647488;
        }
        .product-style-teacher{
            font-family: 'font-dana-medium';
            margin-bottom:.5rem;
            font-size: .9rem;
        }
        .product-style-price{
            font-family: 'font-dana-medium';
            color: #1eb35b;
            margin-bottom: 1rem;
            margin-top: .5rem;
            padding:.2rem 0;
            font-size: .8rem;
        }
        .product-style-star{
            font-family: 'font-dana-medium';
            color: #f59e0b;
            font-size: .9rem;
        }
        .product-style-cart{
            .cart-add{
                font-family: 'font-dana-demi';
                font-size: .8rem;
                padding: .5rem;
                border-radius: 7px;
                border: 1px solid #1eb35b;
                color: #1eb35b;
                background-color: #fff;
                &:hover{
                    background-color: #1eb35c29;
                }
            }
            
        }
    }
}
.title-section{
    h3{
        font-size: 1rem;
        font-family: 'font-dana-medium';
        color: #374151;

    }
    p{
        font-size: 1.5rem;
        font-family: 'font-dana-bold';
        color: #111728;
    }
    a{
        font-family: 'font-dana-medium';
        color: #374151;
        i{
            font-size: 1rem;
        }
        &:hover{
            color:#1eb35b ;
        }
    }
}
.prenav{
    padding: 1.5rem 0;
    background-color: #1eb35b;
    .prenav-text{
        font-family: 'font-dana-demi';
        padding-top: 2px;
        color: #FFF;
        font-size: 1.1rem;
        i{
            font-size: 1.3rem;
        }
    }
    .prenav-btn{
        font-family: 'font-dana-medium';
        background-color: #fff;
        color:rgb(30 179 91) ;
        border-radius: 7px;
        margin-right: 10px;
    }
    @media (max-width:1000px) {
        .prenav-1{
            justify-content: center;
        }
    }
}
.back-nav{
    background-image:url(../images/hero-section.webp) ;
    display: flex;
    background-size: cover;
    background-position: center;
    align-items: center;
    background-repeat: no-repeat;
    min-height: 100%;
    .nav-item{
        list-style-type: none;
        font-family: 'font-dana-demi';
        font-size: 1rem;
        padding: 0 .5rem;
        .nav-link{
        text-decoration: none;
        color: #fff;
        
        &:hover{
            color: #fff;
        }
    }
    }
    i{
        font-family: 'font-dana-demi';
        font-size: 1.3rem;
    }
    .canvas-li{
        color: #111827;
    }
    .navbar-toggler-icon{
        background-image: url(../images/download.svg);
    }
    .offcanvas-start {
        width: 250px;
        font-family: 'font-dana-demi';
        .login-mobile-btn{
            background-color: #0a97d428;
            a{
                color: #0a97d4;
                padding: 1rem;
            }
        }
        .offcanvas-body{
            h6{
                color: #1eb35b;
                font-size: 1.1rem;
                // font-family: 'font-dana-demi';
            }
            .nav-link{
                color: #111728;
                font-family: 'font-dana-medium';
            }
        }
    }
    .navbar-brand{
    width: 5vw;
    }
    .log-btn{
        background-color: #1eb35b;
        color: #fff;
        border-radius: 7px;
        padding:.3rem .9rem;
        &:hover{
            background-color: #199b4f;
            color: #fff;
        }
    }
    @media (max-width: 991.98px) {
        .navbar-brand {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 14vw;
        }
        .desktop-menu {
            display: none;
        }
    }
    .text-nav{
        h1{
            font-family:'font-dana-extrabold';
            font-size:2.5rem;
        }
        p{
            font-family: 'font-dana-demi';
            font-size: 1.2rem;
        }
    }
    .search-box {
      background-color: #fff;
      border-radius: 100px;
      padding:10px;
      margin: 45px auto;
      border: 1px solid #e0e0e0;
      width: 55vw;
      input {
        border: none;
        outline: none;
        background: none;
        width: 100%;
        font-size: 1rem;
        padding-right: 15px;
        font-family:'font-dana-medium';
        font-size: 1rem;
        }
        .search-icon {
            background-color: #39d067;
            color: white;
            border-radius: 50%;
            font-size: 1.2rem;
        }
    } 
    .end-nav{
        font-family: 'font-dana-extrabold';
        h5{
            font-size: 1.9rem;
        }
        p{
            font-size: 1rem;
        }
    }
    @media (max-width:600px) {
        .search-box{
            width: 90vw;
        }
    }
    @media (max-width:1000px) {
        .search-box{
            width: 87vw;
        }
    }

}
.dropdown {
  position: relative;
  display: inline-block;
  &:hover{
    .dropdown-content{
        display: block;
    }
  }
  .dropdown-content {
  display: none;  
  position: absolute;
  border-radius:4px;
  background-color:#f3f4f6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
  font-family:'font-dana-medium';
  .dropdown-item {
    color:#111728;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    &:hover{
        // background-color:#0885ba34;
        background-color: #0a97d41a;
        color:#0a97d4;
    }
    }
}
}
.dropdown-submenu{
  position: relative;
  display: block;
  
  &:hover{
    .dropdown-menu{
      display: block;
    }
    .front-style{
      background-color: #0a97d41a;
      color:#0a97d4;
      border-left: 3px solid #0a97d4;

    }
  }
  .dropdown-menu {
  display: none;  
  position: absolute;
  margin-right: 10rem;
  top: 0;
  border-radius:4px;
  background-color:#f3f4f6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
  font-family:'font-dana-medium';
  overflow-y: scroll;
  height:24rem;
  .dropdown-item {
    color:#111728;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    &:hover{
        // background-color:#0885ba34;
        background-color: #0a97d41a;
        color:#0a97d4;
    }
    }
}
}
.text-plus{
    h4{
        font-family:'font-dana-demi';
    }
    p{
        font-family:'font-dana-light';
    }
    .btn-plus{
        font-family:'font-dana-medium';
        font-size: .8rem;
        border: 1px solid #1eb35b;
        border-radius: 7px;
        color: #1eb35b;
        padding:10px 15px;
        &:hover{
            background-color: #1eb35c2a;
        }
    }
}
.socialmedia-icon{
    color: #999;
    font-size: 2rem;
    margin: 0 5px;
    &:hover{
        color: #0a58ca;
    }
}
.call-styel{
    text-decoration: none;
    color: #374151;
    font-family:'font-dana-medium';
    font-size: 1rem;
}
.footer-style{
    h4{
        font-family:'font-dana-bold';
        font-size: 1.5rem;
    }
    p{
        font-family:'font-dana-medium' ;
        font-size: 1rem;
    }
    ul{
    list-style-type: none;
    padding-right: 0;
    font-family:'font-dana-medium';
    font-size: 1rem;
    }
}
.modal-icon-style{
    position: sticky;
    bottom: 1.5rem;
    z-index: 1;
    i{
        font-size: 2rem;
    }
    @media(max-width:600px){
        .modal-btn{
            margin-right: 20rem;
        }
    }
}
.modal-style{
    height: 35vh;
    background-color: #0a58ca;
    color: #fff;
    font-family: 'font-dana-medium';    
    .i-style-modal{
        background-color: #fff;
        color: #0a58ca;
        font-size: 1.5rem;
        border-radius: 50%;
        padding: .5rem;
    }
}
.modal-body{
    max-height: 50vh;
}
.buy-modal{
    .modal-body{
        overflow-y: scroll;
        max-height: 50vh;
    }
}

.cart-modal{
    border-bottom: 1px solid gray;
    border-radius: 0;
}
.send-box{
    padding:2px;
    width: 55vw;
    input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    font-size: 1rem;
    padding-right: 15px;
    font-family:'font-dana-medium';
    font-size: 1rem;
    }
    .send-icon{
        font-size: 1.2rem;
    }
}

